.contacts {
    padding: 120px 0 90px 0;

    &__descr {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .divider {
            margin: 0;
        }
    }

    &__title {
        position: relative;
        padding-left: 12px;
        @include before_circle;
    }

    &__text,
    &__social {
        margin-top: 20px;
    }

    &__link {
        margin-right: 25px;
        width: 30px;
        height: 30px;

        svg path {
            transition: all 600ms ease;
        }


        &:hover {
            text-decoration: none;

            svg path {
                fill: $main-color;
            }
        }
    }

    &__btn {
        border: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: black;
        max-width: 150px;
        margin-top: 25px;

        &:hover {
            text-decoration: none;
            color: #FFFFFF;
        }
    }
}