.portfolio {
    padding-top: 120px;

    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
    }

    &__item {
        width: 370px;
        height: 370px;
        transition: all 0.6s;
        position: relative;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover .portfolio__overlay {
            opacity: 1;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: rgba(0, 0, 0, 0.7);
    }

    &__desc {
        color: white;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
    }
}